node_modules
_node_modules
package-lock.json
*.env
/test-results/
/playwright-report/
/playwright/.cache/
dist/
dist.*
yarn-error.log
test.*
/docs/.vitepress/dist
/docs/.vitepress/cache
servers.csv
.next/
tsconfig.tsbuildinfo
temp/
/.yarn
/.VSCodeCounter
/.yarn
depots
public/sitemap*
/firebase.json
target
packages/website-ue/src/protos/*.ts
/.vercel
.astro
.vercel
/src
/packages/bot/src/prisma
dev-dist
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
