.characteristics {
  padding: var(--space-5);

  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  box-sizing: border-box;

  .group {
    display: flex;
    flex-direction: column;

    gap: var(--space-4);

    .title-wrapper {
      display: flex;
      align-items: center;
      gap: var(--space-4);

      .title {
        .title-content {
          display: flex;
          align-items: center;
          gap: var(--space-2);

          cursor: pointer;

          svg {
            width: 1em;
            height: 1em;
          }
        }
      }

      .separator {
        height: var(--space-1);
        flex: 1;

        background-color: var(--gray-5);
      }
    }

    .content {
      display: flex;
      flex-direction: column;
    }
  }
}
