.price {
  display: flex;
  align-items: center;

  gap: var(--space-3);

  .entry {
    display: block;

    .wrapper {
      display: flex;
      gap: var(--space-1);

      .icon {
        width: 1em;
        height: 1em;
      }
    }
  }
}
