.price {
  display: flex;

  gap: var(--space-3);

  .entry {
    display: block;
    line-height: 1;

    .wrapper {
      display: flex;
      gap: var(--space-1);

      .icon {
        width: 1em;
        height: 1em;
      }
    }
  }
}
