.avatars-list {
  display: grid;
  gap: var(--space-5) var(--space-4);
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));

  @media (min-width: 32rem) {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  }
}
