.section {
  display: flex;
  justify-content: center;
  padding: 0 var(--space-4);

  .content {
    flex: 1;
    max-width: var(--page-width);

    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }
}
