.lines {
  display: flex;
  flex-direction: column;

  gap: var(--space-3);

  .line {
    display: flex;
    align-items: center;

    gap: var(--space-3);

    .stage {
      position: relative;

      img {
        width: 1em;
        height: 1em;

        transform: translate(var(--space-1), var(--space-1));
      }

      .tier {
        position: absolute;
        left: var(--space-2);
        top: var(--space-2);
      }
    }
  }
}
