.lines {
  display: flex;
  flex-direction: column;

  gap: var(--space-3);

  .line {
    display: flex;
    align-items: center;

    gap: var(--space-3);

    .stage {
      padding: var(--space-3);
      position: relative;
      aspect-ratio: 3 / 4;

      font-size: 2em;

      .icon {
        width: 1em;
        height: 1em;

        transform: translate(var(--space-1), calc(-1 * var(--space-1)));
      }

      .tier {
        position: absolute;
        left: var(--space-2);
        top: var(--space-2);
      }

      .price {
        position: absolute;
        left: 50%;
        bottom: var(--space-2);
        transform: translateX(-50%);
      }
    }
  }
}
