.tabs {
  display: flex;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  .tab {
    padding: var(--space-3) var(--space-5);
    border-top: var(--space-2) solid transparent;

    cursor: pointer;

    &[data-selected="true"] {
      background: linear-gradient(var(--accent-a4), transparent);
      border-top: var(--space-2) solid var(--accent-9);
    }
  }
}
