.scroller {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  .content {
    overflow: auto;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
  }

  .bar-wrapper {
    opacity: 0;
    padding: var(--space-1);
    background-color: var(--gray-3);

    transition: opacity var(--duration-brief);

    border-radius: var(--max-size);

    .bar-container {
      height: 10px;

      position: relative;

      .bar {
        height: 100%;
        min-width: min(100%, var(--space-6));
        position: absolute;

        border-radius: var(--max-size);
        background-color: var(--gray-7);

        cursor: grab;

        &:active {
          cursor: grabbing;
        }
      }
    }
  }

  &:hover,
  &:focus-within {
    .bar-wrapper {
      opacity: 1;
    }
  }
}
