.scroller {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  position: relative;

  .content {
    overflow: auto;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
  }

  .bar-wrapper {
    opacity: 0;
    padding: var(--space-1);
    background-color: var(--gray-3);

    transition: opacity var(--duration-brief);

    border-radius: var(--max-size);

    .bar-container {
      height: var(--space-3);

      position: relative;

      .bar {
        height: 100%;
        min-width: min(100%, var(--space-6));
        position: absolute;

        border-radius: var(--max-size);
        background-color: var(--gray-7);

        cursor: grab;

        &:active {
          cursor: grabbing;
        }
      }
    }
  }

  &:hover,
  &:focus-within {
    .bar-wrapper {
      opacity: 1;
    }
  }

  .curtain {
    width: min(25%, var(--space-7));
    height: calc(100% - var(--space-3) - 2 * var(--space-1));

    position: absolute;
    top: 0;

    opacity: 0;
    pointer-events: none;

    &[data-side="left"] {
      left: 0;
      background: linear-gradient(90deg, var(--gray-1), transparent);
    }

    &[data-side="right"] {
      right: 0;
      background: linear-gradient(90deg, transparent, var(--gray-1));
    }
  }
}
