.avatar-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar-image {
    width: 100%;
    aspect-ratio: 7 / 8;

    background-size: cover;
    background-position: center;
  }

  .avatar-label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
