.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);

  .series {
    position: relative;
    width: 100%;
    aspect-ratio: 7 / 8;

    .entry {
      position: absolute;

      border-radius: var(--space-3);
      box-shadow: var(--shadow-interactive), var(--shadow-aggressive);

      background-size: cover;
      background-position: center;

      &.skeleton {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .count {
      position: absolute;
      bottom: var(--space-3);
      right: var(--space-3);

      box-shadow: var(--shadow-aggressive);
    }
  }

  .label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    .skeleton {
      width: 100%;
    }
  }
}

.details {
  display: flex;
  gap: var(--space-5);
  align-items: center;

  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--space-2);

    &[data-grade="1"] .image {
      outline: var(--space-2) solid var(--gray-9);
    }

    &[data-grade="2"] .image {
      outline: var(--space-2) solid var(--blue-9);
      box-shadow: 0 0 var(--space-3) var(--blue-9);
    }

    &[data-grade="3"] .image {
      outline: var(--space-2) solid var(--purple-9);
      box-shadow: 0 0 var(--space-4) var(--purple-9);
    }

    &[data-grade="4"] .image {
      outline: var(--space-2) solid var(--amber-9);
      box-shadow: 0 0 var(--space-5) var(--amber-9);
    }

    .image {
      aspect-ratio: 7 / 8;
      width: 8rem;
      border-radius: var(--space-3);

      background-size: cover;
      background-position: center;
    }

    .grade {
      margin-top: calc(var(--space-3) * -1);
    }
  }

  .description {
    display: flex;
    flex-direction: column;

    max-width: 20rem;
  }
}
