.link {
  color: var(--accent-11);
  text-decoration-color: currentColor;

  &[data-underline="hover"],
  &[data-underline="never"] {
    text-decoration: none;
  }

  &[data-underline="hover"]:hover,
  &[data-underline="hover"]:focus {
    text-decoration: underline;
  }

  &[data-high-contrast="true"] {
    color: var(--accent-12);
  }

  svg {
    width: 1.25em;
    height: 1.25em;
  }
}
