.link {
  text-decoration-color: currentColor;

  display: flex;
  align-items: center;
  gap: var(--space-3);

  &[data-underline="hover"],
  &[data-underline="never"] {
    text-decoration: none;
  }

  &[data-underline="hover"]:hover,
  &[data-underline="hover"]:focus {
    text-decoration: underline;
  }

  svg {
    width: 1.25em;
    height: 1.25em;
  }
}
