.badge {
  border-radius: var(--max-size);
  box-shadow: var(--shadow-aggressive);

  padding: var(--space-2) var(--space-3);

  font-size: var(--font-size-minor);
  font-weight: var(--weight-medium);
}
