.heading {
  &[data-size="1"] {
    font-size: var(--font-size-heading-1);
  }

  &[data-size="2"] {
    font-size: var(--font-size-heading-2);
  }

  &[data-size="3"] {
    font-size: var(--font-size-heading-3);
  }

  &[data-size="4"] {
    font-size: var(--font-size-heading-4);
  }

  &[data-size="5"] {
    font-size: var(--font-size-heading-5);
  }

  &[data-size="6"] {
    font-size: var(--font-size-heading-6);
  }
}
