.page {
  max-height: 100dvh;
  flex-grow: 1;
  display: flex;

  .sandbox {
    flex-grow: 1;
    background-color: black;
  }

  .stats {
    display: flex;
    flex-direction: column;

    gap: var(--space-6);
    padding: var(--space-5);

    overflow-y: auto;
  }
}
