.text {
  font-size: var(--font-size-regular);

  &[data-size="minor"] {
    font-size: var(--font-size-minor);
  }

  &[data-size="major"] {
    font-size: var(--font-size-major);
  }

  &[data-weight="light"] {
    font-weight: var(--weight-light);
  }

  &[data-weight="regular"] {
    font-weight: var(--weight-regular);
  }

  &[data-weight="medium"] {
    font-weight: var(--weight-medium);
  }

  &[data-weight="bold"] {
    font-weight: var(--weight-bold);
  }

  &[data-weight="black"] {
    font-weight: var(--weight-black);
  }
}
